/* Connected to the root +layout.svelte file. This globals.css file should contain all global styles and variables */

:root {
    /* Typography */
    --font-size-base: 16px;
    --font-size-large: 2rem;
    --font-family-base: 'Arial, sans-serif';
    --h2-size: 2rem;

    /* Colors */
    --text-colour: #DCDCDC;
    --bg-colour: #333333;
    --second-bg-colour: #36454F;
    --light-shadow: #708090;
    --splash-highlight: #00FFFF;

    /* Spacing */
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;

    /* Other design tokens */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-colour);
    font-family: Oswald, sans-serif;
}

html,
body,
#app,
main {
    height: 100%;
}

html {
    overflow: clip;
    font-size: var(--font-size-base);
}

h2 {
    font-size: var(--h2-size);
    color: white;
}
p {
    font-size: 1.5rem;
    line-height: 110%;
    font-family: 'Lato', sans-serif;
}